<section class="tasks-page">
  <div class="tasks-header">
    <div>
      <h2>Tâches du jour</h2>
      <p>Liste des préparations à suivre en cuisine.</p>
    </div>

    <button type="button" (click)="loadTasks()">
      Actualiser
    </button>
  </div>

  <div class="status-filters">
    @for (filter of statusFilters; track filter.value) {
      <button
        type="button"
        [class.active]="selectedStatus === filter.value"
        (click)="changeStatusFilter(filter.value)"
      >
        {{ filter.label }}
      </button>
    }
  </div>

  @if (loading) {
    <p class="info">Chargement des tâches...</p>
  }

  @if (errorMessage) {
    <p class="error">{{ errorMessage }}</p>
  }

  @if (actionMessage) {
    <p class="success">{{ actionMessage }}</p>
  }

  @if (!loading && tasks.length === 0 && !errorMessage) {
    <p class="info">Aucune tâche trouvée.</p>
  }

  @if (!loading && tasks.length > 0) {
    <div class="tasks-list">
      @for (task of tasks; track task.id) {
        <article class="task-card">
          <div class="task-top">
            <h3>{{ task.itemName }}</h3>

            <span
              class="status"
              [class.done]="task.status === 'TERMINEE'"
              [class.cancelled]="task.status === 'ANNULEE'"
              [class.in-progress]="task.status === 'EN_COURS'"
            >
              {{ task.status }}
            </span>
          </div>

          <p class="category">{{ task.categoryName }}</p>

          <p>
            Quantité :
            <strong>{{ task.quantity }} {{ task.unit }}</strong>
          </p>

          <p>
            Priorité :
            <strong>{{ task.priority }}</strong>
          </p>

          <p>
            Assigné à :
            <strong>{{ task.assignedUserName || 'Non assigné' }}</strong>
          </p>

          <p class="comment">
            {{ task.comment }}
          </p>

          <div class="task-actions">
            @if (task.status === 'A_FAIRE') {
              <button type="button" class="start-button" (click)="startTask(task.id)">
                Démarrer
              </button>
            }

            @if (task.status === 'EN_COURS') {
              <button type="button" class="done-button" (click)="completeTask(task.id)">
                Terminer
              </button>
            }

            @if (task.status !== 'TERMINEE' && task.status !== 'ANNULEE') {
              <button type="button" class="cancel-button" (click)="cancelTask(task.id)">
                Annuler
              </button>
            }
          </div>
        </article>
      }
    </div>
  }
</section>